@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* LIGHT MODE COLORS */
    --background: #f2f2f7;
    --card: #ffffff;
    --text: #000000;
    --subText: #8e8e93;
    --primary: #007aff;
    --danger: #ff3b30;
    --border: #c6c6c8;
    --inputBg: #e5e5ea;
    --strengthWeak: #ff3b30;
    --strengthMedium: #ff9500;
    --strengthStrong: #34c759;
  }

  .dark {
    /* DARK MODE COLORS */
    --background: #000000;
    --card: #1c1c1e;
    --text: #ffffff;
    --subText: #98989f;
    --primary: #0a84ff;
    --danger: #ff453a;
    --border: #38383a;
    --inputBg: #2c2c2e;
    --strengthWeak: #ff453a;
    --strengthMedium: #ff9f0a;
    --strengthStrong: #30d158;
  }

  body {
    @apply bg-background text-text antialiased;
    /* This prevents the user from highlighting random UI text like a website */
    user-select: none;
  }
}
